// $variable-name: value
$primary-color: blue

section 
    background-color: $primary-color
    color: $primary-color
    height: auto
    width: 100%

.banner img 
    height: auto
    max-width: 100px