/**--------------------------------------------------------------
Table of Contents
  # Navigation Drawer
    ## Wide Screens, Large Devices
    ## Desktops, Medium Devices
    ## Tablets, Small Devices
    ## Phones, Extra Small Devices
--------------------------------------------------------------*/
/**--------------------------------------------------------------
# Navigation Drawer
---------------------------------------------------------------*/
header {
  nav#navigation-drawer {
    float: left;
    position: fixed;
    z-index: 999;
    div.mobile-toggle {
      input {
        cursor: pointer;
        display: block;
        height: 32px;
        left: -7px;
        position: absolute;
        opacity: 0;
        top: -7px;
        -webkit-touch-callout: none;
        width: 40px;
        z-index: 2;
      }
      input:checked ~ ul {
        opacity: 1;
        transform: scale(1.0, 1.0);
      }
      input:checked ~ span {
        background: #232323;
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        &:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        &:nth-last-child(2) {
          opacity: 1;
          transform: rotate(-45deg) translate(0, -1px);
        }
      }
      span {
        background: #cdcdcd;
        border-radius: 3px;
        display: block;
        height: 4px;
        left: 1em;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
        width: 33px;
        &:first-child {
          transform-origin: 0% 0%;
        }
        &:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      }
      ul.menu {
        background: #ededed;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        height: 100vh;
        list-style-type: none;
        margin: -100px 0 0 -50px;
        padding-top: 125px;
        position: absolute;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        width: 33vw;
        min-width: 300px;
        &::after {
          background: red;
          width: 100vw;
          height: 100vh;
        }
        li {
          border-top: 1px solid #DDD;
          text-decoration: none;
          &:hover {
            background-color: #fff;
            cursor: pointer;
          }
          a {
            color: #232323;
            display: block;
            font-size: 1.5em;
            line-height: 2.5em;
            padding: 0 0 0 1em;
            position: relative;
            text-decoration: none;
            transition: color .3s ease;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width: 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width: 992px) {

}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width: 768px) {

}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {

}
